p,h1,body{
  margin: 0;
}
p,a{
  font-size: 20px;
}
header{
  background-color:  rgb(244, 79, 79);
  margin-bottom: 20px;
  text-align: center;
}
h1{
  color:rgb(255, 255, 255)
}
main{
  margin:10px
}
#parent{
  display: flex;
  justify-content:space-around;
}
.contents{
  border:solid 3px rgb(238, 204, 204);
  padding:10px 15px;
  margin:20px 0;
  text-align: center;
}
h2{
  font-size: 25px;
  color:rgb(236, 122, 122);
  border-bottom: dotted 3px rgb(236, 122, 122);
}
.contents p:nth-of-type(2)::first-letter{
 color:rgb(97, 206, 249);
 font-weight:bold;
}
img{
  width: 70%;
  margin:10px 0px;
}
footer {
  background-color: rgb(244, 79, 79); 
  text-align: center;                
}

footer a {
  color: rgb(255, 255, 255);        
}

footer a:visited {
  color: rgb(193, 234, 251);        
}

footer a:hover {
  color: rgb(245, 178, 168);        
}

@media screen and (max-width: 768px) {
   p {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
 
  #parent {
    display: flex;
    flex-direction: column; 
  }
}
